.about__wrapper {
  margin: 0 30px;

  @media (min-width: @tablet-width) {
    display: flex;
    width: 668px;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  @media (min-width: @desektop-width) {
    width: 1050px;
    justify-content: center;
  }
}

.about__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 82px;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 99px;
  }

  @media (min-width: @desektop-width) {
    font-size: 53px;
    line-height: 57px;
    width: 700px;
    margin-bottom: 96px;
  }
}
