.button {
  text-align: center;
  display: block;
  border: 2px solid @basic-black-light;
  padding: 14px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: @basic-black-light;
  background-color: @basic-white;
  text-transform: uppercase;

  &:hover {
    color: @basic-white;
    background-color: @basic-black-light;
  }

  &:active {
    @button-color: rgba(255, 255, 255, 0.3);
    color: @button-color;
  }
}
