.contacts__heading {
  .font(bold, 18px, 30px);
}

.contacts__item {
  .font(normal, 15px, 30px);
}

.contacts__email {
  color: @basic-black;
  border-bottom: 1px solid @basic-green;
}

.contacts__wrapper,
.contacts__write {
  margin: 0 30px;
}

.contacts {
  outline: 2px solid grey;
}
