.features {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: grid;
    width: 668px;
    grid-template-columns: auto auto;
    column-gap: 59px;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
  }
}

.features__item {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  padding-bottom: 83px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    padding-bottom: 110px;
  }
}

@media (min-width: @tablet-width) {
  .features__item--love {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .features__item--likes {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-bottom: 0;
  }
}

.features__item:nth-last-of-type(1) {
  padding: 0;
}

.features__description {
  margin: 0;
}

.features__item--material {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
    width: 33px;
    height: 38px;
    top: -53px;
    left: 8px;
  }
}

.features__item--style {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-feature-money.svg");
    background-repeat: no-repeat;
    width: 47px;
    height: 27px;
    top: -52px;
    left: 0;
  }
}

.features__item--likes {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-feature-heart.svg");
    background-repeat: no-repeat;
    width: 34px;
    height: 27px;
    top: -47px;
    left: 8px;
  }
}

.features__item--love {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-feature-ball.svg");
    background-repeat: no-repeat;
    width: 35px;
    height: 34px;
    top: -50px;
    left: 4px;
  }
}

.features__item--domestics {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-feature-rocket.svg");
    background-repeat: no-repeat;
    width: 55px;
    height: 23px;
    top: -49px;
    left: -5px;
  }
}

.features__item--present {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-feature-gift.svg");
    background-repeat: no-repeat;
    width: 33px;
    height: 32px;
    top: -51px;
    left: 3px;
  }
}
