.features {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: grid;
    width: 668px;
    grid-template-columns: auto auto;
    column-gap: 59px;
  }

  @media (min-width: @desktop-width) {
    width: 700px;
  }
}

.features__item {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  padding-bottom: 83px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    padding-bottom: 110px;
  }
}

@media (min-width: @tablet-width) {
  .features__item--love {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .features__item--likes {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-bottom: 0;
  }
}

.features__item:nth-last-of-type(1) {
  padding: 0;
}

.features__description {
  margin: 0;
}
