.form__fieldset {
  margin: 0 30px;
  border: 0;

  @media (min-width: @tablet-width) {
    width: 668px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  @media (min-width: @desektop-width) {
    width: 1050px;
  }
}

.form__message {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    width: 668px;
    margin: 0 auto;
  }

  @media (min-width: @desektop-width) {
    width: 1050px;
  }
}

.form__legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: @basic-green;
  text-transform: uppercase;
}

.form__label {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.form__item {
  list-style: none;
}

.form__item--color {
  @media (min-width: @tablet-width) {
    width: 250px;
  }

  @media (min-width: @desektop-width) {
    margin-right: 20px;
  }
}

.form__input--text {
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
}

.form__list {
  padding: 0;
  outline: 2px solid lightpink;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__info-message {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  order: -1;

  @media (min-width: @tablet-width) {
    order: 1;
  }
}

.form__fieldset-wrapper {
  @media (min-width: @tablet-width) {
    background-color: @basic-grey;
  }
}

.form__footer {
  margin: 0 30px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    width: 668px;
    display: flex;
    margin: 0 auto;
  }

  @media (min-width: @desektop-width) {
    width: 1050px;
  }
}

.form__list--type .form__item {
  @media (min-width: @tablet-width) {
    width: 350px;
  }

  @media (min-width: @desektop-width) {
    width: 1050px;
  }
}

.form__input--text-message,
.form__input--text {
  @media (min-width: @tablet-width) {
    width: 500px;
  }

  @media (min-width: @desektop-width) {
    width: 700px;
  }
}

.form__submit {
  width: 260px;

  @media (min-width: @tablet-width) {
    width: 230px;
  }
}
