.main-nav {
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 668px;
    margin: 0 auto;
    z-index: 2;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    position: relative;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__toggle {
  outline: none;
  position: absolute;
  top: 14px;
  right: 17px;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  display: block;
  z-index: 2;
  background-color: white;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: " ";
  position: absolute;
  top: 18px;
  left: 16px;
  width: 20px;
  height: 2px;
  background-color: @black-special;
  box-shadow:
    0 6px 0 0 @black-special,
    0 12px 0 0 @black-special;
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  position: absolute;

  &::before,
  &::after {
    content: " ";
    position: absolute;
    top: 24px;
    right: 9px;
    width: 29px;
    height: 2px;
    background-color: @black-special;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__info {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    width: 300px;
    order: 2;
    justify-content: flex-end;
    padding-top: 20px;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    position: absolute;
    right: 1px;
    top: 89px;
  }
}

.main-nav__toggle--nojs {
  display: none;
}

.main-nav__logo {
  height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid @grey-special;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.main-nav__logo svg {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    height: auto;
    width: 113px;
    padding-top: 11px;
  }

  @media (min-width: @desktop-width) {
    justify-content: center;
    width: 149px;
    padding-right: 30px;
  }
}

.main-nav__logo:not([href]) svg {
  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}

.main-nav__logo-mobile {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__logo-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__logo-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}
