.menu__list {
  @menu-shift: -162px;

  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: -76px;
  margin-bottom: -76px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    margin-bottom: @menu-shift;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    width: 668px;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    margin-bottom: @menu-shift;
  }
}

.menu__item {
  @media (min-width: @tablet-width) {
    width: 334px;

    &:hover {
      transform: translateY(-5px);
      transition: 0.3s;
    }
  }

  @media (min-width: @desktop-width) {
    width: 525px;
  }
}

.menu__item a {
  color: @basic-white;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  padding-left: 30px;
  padding-top: 24px;
  padding-bottom: 31px;
  padding-right: 160px;
  display: block;

  @media (min-width: @tablet-width) {
    padding-top: 25px;
    padding-bottom: 34px;
    padding-left: 36px;
    font-size: 20px;
    line-height: 30px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    padding-right: 350px;
  }
}

.menu__item:nth-of-type(odd) a {
  background-color: @basic-green;

  &:hover,
  &:active {
    background-color: @basic-green-light;
  }
}

.menu__item:nth-of-type(even) a {
  background-color: @basic-green-dark;

  &:hover,
  &:active {
    background-color: @basic-green-darkness;
  }
}
