.menu {
  outline: 2px solid royalblue;
}

.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
    margin: 0 auto;
  }

  @media (min-width: @desektop-width) {
    width: 1050px;
  }
}

.menu__item {
  @media (min-width: @tablet-width) {
    width: 334px;
  }

  @media (min-width: @desektop-width) {
    width: 525px;
  }
}

.menu__item a {
  color: @basic-white;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  padding-left: 30px;
  padding-top: 24px;
  padding-bottom: 31px;
  padding-right: 160px;
  display: block;

  @media (min-width: @tablet-width) {
    @menu-shift: -119px;

    padding-top: 25px;
    padding-bottom: 34px;
    padding-left: 36px;
    font-size: 20px;
    line-height: 30px;
    position: relative;
    top: @menu-shift;
    margin-bottom: @menu-shift;
  }

  @media (min-width: @desektop-width) {
    padding-right: 350px;
  }
}

.menu__item:nth-of-type(odd) a {
  background-color: @basic-green;

  &:hover,
  &:active {
    background-color: @basic-green-light;
  }
}

.menu__item:nth-of-type(even) a {
  background-color: @basic-green-dark;

  &:hover,
  &:active {
    background-color: @basic-green-darkness;
  }
}
