.page-footer {
  background-color: @basic-grey;
  .phone-wrapper;
}

.page-footer__social,
.page-footer__copyright {
  margin: 0 30px;
}

.page-footer__wrapper {
  @media (min-width: @tablet-width) {
    width: 668px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 51px;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
  }
}

.page-footer__logo {
  display: none;

  &:hover svg {
    fill: @basic-green-darkness;
  }

  &:active svg {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    display: block;
    padding-top: 51px;
  }
}
