.promo-card p {
  font-size: 15px;
  line-height: 24px;
}

.promo-card__header {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin-top: 31px;
  margin-bottom: 3.5px;
}
.promo-card__wrapper {
  margin: 0px 30px;
  outline: 2px solid red;
}

.promo-card__name {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-green;
}

.promo-card__info {
  font-size: 15px;
  line-height: 24px;
}

.promo-card__price {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  min-width: 157px;
  text-align: center;
}
