.user-list {
  padding: 0;
  margin: 0;
  outline: 2px solid lightgreen;

  @media (min-width: @tablet-width) {
    width: 347px;
    display: flex;
    justify-content: flex-end;
  }
}

.user-list__item--search {
  @media (min-width: @tablet-width) {
    .visually-hidden;
  }
}

.user-list__item {
  margin-left: 76px;
  margin-top: 27.5px;
  margin-bottom: 27.5px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.user-list__item a {
  color: inherit;
}
