// Colors
@basic-white: #FFFFFF;
@basic-grey: #F1F1F1;
@basic-black: #000000;
@basic-black-light: #444444;
@black-border: rgba(0, 0, 0, 0.1);
@basic-green: #63D1BB;
@basic-green-light: #59D5BC;
@basic-green-dark:#56C3B2;
@basic-green-darkness:#46C1AE;
@email-active-border: rgba(70, 193, 174, 0,1);
@basic-green-special: #62D1BA;
@black-special: #231F20;
@black-input-active: rgba(68, 68, 68, 0.3);
@grey-special: #ECECEC;
@gret-footer: #E5E5E5;
@grey-back: #F9F9F9;
@icon-color: rgba(0, 0, 0, 0.2);
@modal-white: rgba(255, 255, 255, 0.9);
@modal-border: #C6C6C6;
@modal-link: rgba(68, 68, 68, 0.1);

// Viewports
@mobile-width: 320px;
@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1050px;
